@font-face {
  font-family: 'ml_icon';
  src: url('../font/ml_icon.eot?23688931');
  src: url('../font/ml_icon.eot?23688931#iefix') format('embedded-opentype'),
       url('../font/ml_icon.woff2?23688931') format('woff2'),
       url('../font/ml_icon.woff?23688931') format('woff'),
       url('../font/ml_icon.ttf?23688931') format('truetype'),
       url('../font/ml_icon.svg?23688931#ml_icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ml_icon';
    src: url('../font/ml_icon.svg?23688931#ml_icon') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ml_icon";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-outline:before { content: '\e800'; } /* '' */
.icon-star-fill:before { content: '\e801'; } /* '' */
.icon-search-outline:before { content: '\e802'; } /* '' */
.icon-bath-outline:before { content: '\e804'; } /* '' */
.icon-bed-outline:before { content: '\e805'; } /* '' */
.icon-pin-outline:before { content: '\e806'; } /* '' */
.icon-pin-fill:before { content: '\e807'; } /* '' */
