.kill_bs_fieldset {
  min-width: initial;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border: 1px solid @black;
  legend {
    display: initial;
    width: initial;
    max-width: inherit;
    padding: initial;
    margin-bottom: inherit;
    font-size: initial;
    line-height: inherit;
    color: inherit;
    white-space: normal;
  }
}
.focus {
  border-color: @blue;
  legend {
    color: @blue;
  }
}

.gradient_red {
  background: rgba(239,98,108,1);
  background: -moz-linear-gradient(left, rgba(239,98,108,1) 0%, rgba(250,130,97,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,98,108,1)), color-stop(100%, rgba(250,130,97,1)));
  background: -webkit-linear-gradient(left, rgba(239,98,108,1) 0%, rgba(250,130,97,1) 100%);
  background: -o-linear-gradient(left, rgba(239,98,108,1) 0%, rgba(250,130,97,1) 100%);
  background: -ms-linear-gradient(left, rgba(239,98,108,1) 0%, rgba(250,130,97,1) 100%);
  background: linear-gradient(to right, rgba(239,98,108,1) 0%, rgba(250,130,97,1) 100%);
}
.gradient_red_less {
  background: rgba(239,98,108,.5);
  background: -moz-linear-gradient(left, rgba(239,98,108,.75) 0%, rgba(250,130,97,.75) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,98,108,.75)), color-stop(100%, rgba(250,130,97,1)));
  background: -webkit-linear-gradient(left, rgba(239,98,108,.75) 0%, rgba(250,130,97,.75) 100%);
  background: -o-linear-gradient(left, rgba(239,98,108,.75) 0%, rgba(250,130,97,.75) 100%);
  background: -ms-linear-gradient(left, rgba(239,98,108,.75) 0%, rgba(250,130,97,.75) 100%);
  background: linear-gradient(to right, rgba(239,98,108,.75) 0%, rgba(250,130,97,.75) 100%);
}
.gradient_blue {
  background: rgba(37,78,112,1);
  background: -moz-linear-gradient(left, rgba(37,78,112,1) 0%, rgba(55,113,142,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(37,78,112,1)), color-stop(100%, rgba(55,113,142,1)));
  background: -webkit-linear-gradient(left, rgba(37,78,112,1) 0%, rgba(55,113,142,1) 100%);
  background: -o-linear-gradient(left, rgba(37,78,112,1) 0%, rgba(55,113,142,1) 100%);
  background: -ms-linear-gradient(left, rgba(37,78,112,1) 0%, rgba(55,113,142,1) 100%);
  background: linear-gradient(to right, rgba(37,78,112,1) 0%, rgba(55,113,142,1) 100%);
}
.commuter-sans {
  font-family: commuters-sans, sans-serif;
}
.brand {
  font-family: commuters-sans, sans-serif;
  font-weight: bold !important;
  text-transform: lowercase;
}
.brand_less_text_transform {
  font-family: commuters-sans, sans-serif;
  font-weight: bold;
}
.box_shadow_disp {
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
}
.box_shadow_default {
  box-shadow: 0px 0px 0px 0.5em rgba(255,255,255,0.5);
  -webkit-box-shadow: 0px 0px 0px 0.5em rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 0px 0px 0.5em rgba(255,255,255,0.5);
}
.box_shadow_underline {
  box-shadow: 0px 1px 0px 0px @black;
  -webkit-box-shadow: 0px 1px 0px 0px @black;
  -moz-box-shadow: 0px 1px 0px 0px @black;
}
@white: #FFFFFF;
@black: #000000;
@translate_effect_dimensions: calc(299.19px + 1rem);
@half_translate_effect_dimensions: calc((299.19px + 1rem) / 2);
@negative_half_translate_effect_dimensions: calc(((299.19px + 1rem) / 2) * -1);
@black: #323232;
@grey: #8B94A3;
@blue: #3185FC;
@red: rgba(239,98,108,1);
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@nav_height: 56px;
@standard: 14px;
@light_grey: #A9B4C2;
@purple: #7F7EFF;
.purple_gradient {
  background: rgba(126,126,255,1);
  background: -moz-linear-gradient(left, rgba(126,126,255,1) 0%, rgba(95,75,182,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(126,126,255,1)), color-stop(100%, rgba(95,75,182,1)));
  background: -webkit-linear-gradient(left, rgba(126,126,255,1) 0%, rgba(95,75,182,1) 100%);
  background: -o-linear-gradient(left, rgba(126,126,255,1) 0%, rgba(95,75,182,1) 100%);
  background: -ms-linear-gradient(left, rgba(126,126,255,1) 0%, rgba(95,75,182,1) 100%);
  background: linear-gradient(to right, rgba(126,126,255,1) 0%, rgba(95,75,182,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7eff', endColorstr='#5f4bb6', GradientType=1 );
}
.purple_gradient_less {
  background: rgba(126,126,255,1);
  background: -moz-linear-gradient(left, rgba(126,126,255,.75) 0%, rgba(95,75,182,.75) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(126,126,255,.75)), color-stop(100%, rgba(95,75,182,.75)));
  background: -webkit-linear-gradient(left, rgba(126,126,255,.75) 0%, rgba(95,75,182,.75) 100%);
  background: -o-linear-gradient(left, rgba(126,126,255,.75) 0%, rgba(95,75,182,.75) 100%);
  background: -ms-linear-gradient(left, rgba(126,126,255,.75) 0%, rgba(95,75,182,.75) 100%);
  background: linear-gradient(to right, rgba(126,126,255,.75) 0%, rgba(95,75,182,.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7eff', endColorstr='#5f4bb6', GradientType=1 );
}
.small_text {
  color: @light_grey;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
html {
  height: 100%;
}
body {
  height: inherit;
}
#app {
  height: inherit;
  .def_root, .def_sign_in, .entity {
    .standard-fit {
      margin-top: 2em;
      width: 66%;
    }
    height: fit-content;
    margin-bottom: 108px;
  }

  .entity {
    .container-fluid {
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }
    .data-container {
      margin: 0px 3em;
    }
  }
}

